.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #007dc6;
  height: 100vh;
}

.error-btn {
  cursor: pointer;
  font-family: sans-serif;
  background-color: grey;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
}

.error-description {
  font-family: sans-serif;
  background: #ffffff;
  color: grey;
  font-size: 11px;
  width: 60vw;
  max-height: 250px;
  overflow: auto;
  padding: 10px;
  margin: 10px;
}
